<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <a routerLink='/home'><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/icon/img/pnglogoCond.png" alt="img_logo" class="img_logo"/>
  <ion-card>
    <h3>¿A dónde vamos, {{ user.nombre + ' '+ user.apellidos }}?</h3>
    <ion-card-content>
      <form [formGroup]="viajar" (ngSubmit)="calcularRuta()">
        <!--<ion-button expand="small">Agendar horario de búsqueda</ion-button>-->
        <!--<ion-item>
          <ion-checkbox slot="start" (click)="cambiarInicial()" [(ngModel)]="verificar_checkbox" [ngModelOptions]="{standalone: 'true'}"></ion-checkbox>
          <ion-label class="ion-text-wrap">Punto inicial en DUOC UC</ion-label>
        </ion-item>-->
        <ion-item >
          <ion-label>Punto inicial: Duoc UC Puente Alto</ion-label> <!-- DIRECCIÓN ORIGEN -->
        </ion-item>
        <ion-item>
          <ion-label slot="start" >¿A dónde vas?</ion-label> <!-- DIRECCIÓN SALIDA -->
          <br>
          <input slot="end" placeholder="Ingrese dirección" id="autocomplete" >
        </ion-item>
        <ion-item>
          <ion-label slot="start">Total viaje</ion-label> <!-- VALOR DEL VIAJE -->
          <ion-input placeholder="Ingrese un valor, mínimo 1000" formControlName="valViaje">$</ion-input>
        </ion-item>
        <ion-button expand="block" type="submit"[disabled]="!viajar.valid">CALCULAR RUTA</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <!-- MAPA -->
  <div id="map"></div>
  <ion-card *ngIf="ubicacionDestino != ''">
    <ion-card-content>
      <ion-button (click)="crearViaje()">CREAR VIAJE</ion-button>
      <ion-button (click)="cancelarViaje()">CANCELAR</ion-button>
    </ion-card-content>
  </ion-card>
  <br>
  <h1>TESTING DIRECCIONES GUARDADAS</h1>
  <br>
  <div id="indicaciones"></div>
  <img src="assets/icon/img/pnglogoCond.png" alt="img_logo" class="img_logo"/>

</ion-content>
