
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-label>Registro</ion-label>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="usuario" (ngSubmit)="registrar()">
        <ion-item style="border-radius: 15px 15px 0px 0px;">
          <ion-label position="floating">Rut:</ion-label>
          <ion-input clearInput type="text" placeholder="Ingresa tu rut - Ej: 11.111.111-1" formControlName="rut"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre completo:</ion-label>
          <ion-input clearInput type="text" placeholder="Ingresa tu nombre completo" formControlName="nom_completo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha de nacimiento:</ion-label>
          <ion-input clearInput type="date" placeholder="Ingresa tu fecha de nacimiento" formControlName="fecha_nac"></ion-input>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-label style="font-weight: bold;" position="floating">Sede:</ion-label>
            
            <ion-select formControlName="sede" placeholder="Selecciona tu sede">
              
              <ion-select-option *ngFor="let aux of sedes"value="{{aux.value}}" >{{aux.nombre}}</ion-select-option>
              
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-label style="font-weight: bold;" position="floating">Carrera:</ion-label>
            <ion-select formControlName="carrera" placeholder="Selecciona tu carrera">
              <ion-select-option *ngFor="let aux2 of carreras">{{aux2.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label position="floating">Correo:</ion-label>
          <ion-input clearInput type="text" placeholder="Ingresa tu correo institucional" formControlName="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password:</ion-label>
          <ion-input clearInput type="password" placeholder="Ingresa tu contraseña" formControlName="password"></ion-input>
        </ion-item>
        <ion-item style="border-radius: 0px 0px 15px 15px;">
          <ion-label clearInput position="floating">Ingrese password nuevamente:</ion-label>
          <ion-input type="password" placeholder="Ingresa tu contraseña nuevamente" [(ngModel)]="verificar_pw" [ngModelOptions]="{standalone: 'true'}"></ion-input>
        </ion-item>
        <br>
        <ion-item-sliding>
          <ion-item style="border-radius: 60px 0px 0px 60px;">
            <ion-checkbox color="warning" slot="start" [(ngModel)]="verificar_checkbox" [ngModelOptions]="{standalone: 'true'}"></ion-checkbox>
            <ion-label class="ion-text-wrap">Acepto los terminos y condiciones</ion-label>
            <ion-icon name="caret-back-sharp"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option id="open-modal2"type="button">Terminos y condiciones</ion-item-option>
            <!-- MODAL TÉRMINOS DE USO -->
            <ion-modal trigger="open-modal2">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button (click)="volver()"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
                    </ion-buttons>
                    <ion-title>Términos</ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <p>Bienvenido a las Condiciones y términos de Uso de "Te llevo?" App.</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, necessitatibus corrupti dolorum porro quasi eveniet accusamus natus inventore minus ipsa nemo fugit asperiores. Aperiam natus, necessitatibus non dicta atque omnis, adipisci eveniet commodi explicabo nemo sapiente odio recusandae rerum molestias quas. Velit ut, provident praesentium inventore nostrum explicabo officiis eveniet nisi quis veritatis eaque aspernatur tenetur nobis odit impedit aliquid alias, minus sed aperiam culpa necessitatibus. Velit, suscipit obcaecati sint a quaerat harum? Accusantium, eligendi impedit corrupti maiores nemo eos sed natus quo. Assumenda sequi id dolores error quaerat. Dolor deserunt corrupti tempore aliquam ipsam neque sed blanditiis animi nobis!</p>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-item-options>
        </ion-item-sliding>
        <br>
        <br>
        <ion-button expand="block" style="border-color: #ffe95a;--background: #03153e; color: white;box-shadow: 0 0 30px #ffe95a;"type="submit" [disabled]="!usuario.valid">REGISTRAR</ion-button>
        <ion-button expand="block" style="border-color: red;--background: #03153e; color: white;" type="button" routerLink="/login">Volver al login</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
