@use '../../../global.scss';

ion-content{
  ion-card{
    border-style: ridge;
    border-color: black;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    ion-card-content{

        p{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            color: rgb(0, 0, 0);
        }
    }
}
    .img_perfil {
      width: 40%;
      height: 40%;
      --border-radius: 4px;
    }
    .img_logo {
      text-align: center;
      width: 60%;
    }
    --background: linear-gradient(#4c57d0, rgb(63, 141, 180), rgb(106, 147, 168));
    text-align: center;
    align-items: center;
    p{
      font-size: x-large;
      color: #ffffff;
    }
  ion-list{
    --ion-background-color: ;
    /* p dentro de la lista */
    p{
      font-size: large;
      color: #e1c723;
    }
  }
}

@media (max-width: 400px) {
  .fondo {
      ion-card {
          width: 80vw;
      }
  }
}
@media (max-width: 720px) {
  .fondo {
      ion-card {
          width: 80vw;
      }
  }
}

  