<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <a routerLink='/home'><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo">
    <br>
    <img src="assets/icon/img/perfilBlack.png" alt="img_perfil" class="img_perfil"/>
<!--     <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <br> -->
  </div>
  <ion-button color="success" style="color: black;" (click)="generarQR()" size="small">GENERAR QR</ion-button>
  <ion-card *ngIf="user.tipo_usuario == 'alumno'" color="warning">
    <ion-card-content>
      <ion-card>
        <ion-card-content>
          <ion-list>
            <h3>INFORMACIÓN DEL ALUMNO</h3>
            <!-- INFO USUARIO -->
            <p>Rut: {{user.rut}}</p>
            <p>Nombre: {{ user.nombre }}</p>
            <p>Apellidos: {{user.apellidos}}</p>
            <p>Fecha de nacimiento: {{user.fecha_nac}}</p>
            <p>Sede: {{user.sede}}</p>
            <p>Carrera: {{user.carrera}}</p>
            <p>Correo: {{user.correo}}</p>
            <p>Licencia: {{user.licencia}}</p>
            <ion-button color="tertiary" size="small">Cambiar foto de perfil</ion-button>

            <!-- INFO VEHÍCULO -->
            <div *ngIf="user.correo == vehiculo.correo">
              <ion-list>
                <h3>INFORMACIÓN DEL VEHICULO</h3>
                <p>Patente: {{ vehiculo.patente }}</p>
                <p>Modelo: {{ vehiculo.modelo }}</p>
                <p>Marca: {{ vehiculo.marca }}</p>
                <p>Tipo de vehiculo: {{ vehiculo.tipo_vehiculo }}</p>
                <p>Color: {{ vehiculo.color }}</p>
                <p>Capacidad de pasajeros: {{ vehiculo.cap_pasajeros }}</p>
              </ion-list>
            </div>
            <!-- GENERAR QR / MOSTRAR -->
            <div *ngIf="value != ''" color="light">
              <br>
              <p>Código QR de usuario {{user.correo}} </p>
              <ngx-qrcode [elementType]="elementType" [value]="value"></ngx-qrcode>
            </div>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <img src="assets/icon/img/pnglogo.png" alt="img_logo" class="img_logo"/>
</ion-content>
