@use '../../../global.scss';

ion-content{
    --background: linear-gradient(#4c57d0, rgb(63, 141, 180), rgb(106, 147, 168));
    text-align: center;
    p{
      font-size: x-large;
      color: #ffffff;
    }
  .img_perfil {
    width: 50%;
  }
  ion-list{
    --ion-background-color: ;
    /* p dentro de la lista */
    p{
      font-size: large;
      color: #e1c723;
    }
  }
  }