<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <a routerLink='/home'><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo">
    <br>
    <img src="assets/icon/img/perfilBlack.png" alt="img_perfil" class="img_perfil"/>
    <h2>Perfil de usuario</h2>
    <ion-list *ngFor="let usuario of usuarios">
      <p>Rut: {{usuario.rut}}</p>
      <p>Nombre: {{usuario.nom_completo}}</p>
      <p>Fecha de nacimiento: {{usuario.fecha_nac}}</p>
      <p>Sede: {{usuario.sede}}</p>
      <p>Carrera: {{usuario.carrera}}</p>
      <p>Correo: {{usuario.correo}}</p>
      <ion-button color="warning" (click)="obtenerUsuario(usuario.correo)">Buscar</ion-button>
      <ion-button color="danger" (click)="eliminar(usuario.correo)">Eliminar</ion-button>
    </ion-list>
  </div>
</ion-content>
