<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <a routerLink='/home'><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <p>Bienvenido sr/a Pasajero!</p>
    <ion-button expand="small">Agendar horario de búsqueda</ion-button>
    <ion-item>
      <ion-label position="floating">Ingresa tu dirección actual</ion-label>
      <ion-input placeholder="Ingrese dirección"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">¿A dónde vas?</ion-label>
      <ion-input placeholder="Ingrese dirección"></ion-input>
    </ion-item>
    <ion-button expand="block">BUSCAR CONDUCTORES</ion-button>
    <ion-card>
      <ion-card-content>
        <img src=img src="assets/icon/img/map.png" alt="img_map" class="img_map" alt="">
        <p id="p2">Ubicación aproximada</p>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <p>Direcciones guardadas</p>
      <p>Direcciones guardadas</p>
      <p>Direcciones guardadas</p>
      <p>Direcciones guardadas</p>
    </ion-list>
    <img src="assets/icon/img/pnglogoPasj.png" alt="img_logo" class="img_logo"/>
  </div> 
</ion-content>
