<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <a routerLink='/home'><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <p>Woops, creo que tenemos un error inesperado.</p>
  <h1>ERROR 404</h1>
  <img src=img src="assets/icon/img/bad404.png" alt="img_error" class="img_error">
  <p>El sitio al que intentas acceder no existe.</p>
  <ion-button expand=""><a routerLink='/login'>Volver al menú principal</a></ion-button>

  
</ion-content>
