<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <a routerLink='/home'><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo">
    <ion-card id="card_logo">
      <ion-card-header>
        <ion-label>Módulo de administrador</ion-label>
      </ion-card-header>
      <ion-card-content class="card_logo_cont"  id="card_logo_cont">
        <img src="assets/icon/img/menu/dev.png" alt="img_logo" class="img_logo">
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-label>Registro de usuarios</ion-label>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <form [formGroup]="usuario" (ngSubmit)="registrar()">
          <ion-item style="border-radius: 15px 15px 0px 0px;">
            <ion-label position="floating">Rut</ion-label>
            <ion-input clearInput type="text" placeholder="Ingresa tu rut - Ej: 11.111.111-1" formControlName="rut"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input clearInput type="text" placeholder="Ingresa tu nombre completo" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input clearInput type="text" placeholder="Ingresa tu nombre completo" formControlName="apellidos"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Fecha de nacimiento</ion-label>
            <ion-input clearInput type="date" placeholder="Ingresa tu fecha de nacimiento" formControlName="fecha_nac"></ion-input>
          </ion-item>
          <ion-list>
            <ion-item>
              <ion-label style="font-weight: bold;" position="floating">Sede</ion-label>
              <ion-select formControlName="sede" placeholder="Selecciona tu sede">  
                <ion-select-option *ngFor="let aux of sedes"value="{{aux.value}}" >{{aux.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label style="font-weight: bold;" position="floating">Carrera</ion-label>
              <ion-select formControlName="carrera" placeholder="Selecciona tu carrera">
                <ion-select-option *ngFor="let aux2 of carreras">{{aux2.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label style="font-weight: bold;" position="floating">Licencia de conducir:</ion-label>
              <ion-select formControlName="licencia" placeholder="Selecciona el tipo de licencia que posees">
                <ion-select-option *ngFor="let aux3 of licencias">{{aux3.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input clearInput type="text" placeholder="Ingresa tu correo institucional" formControlName="correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input clearInput type="password" placeholder="Debe contener al menos 6 caracteres" formControlName="password"></ion-input>
          </ion-item>
          <ion-item style="border-radius: 0px 0px 15px 15px;">
            <ion-label clearInput position="floating">Ingresa tu contraseña nuevamente</ion-label>
            <ion-input type="password" placeholder="Ingresa tu contraseña nuevamente" [(ngModel)]="verificar_pw" [ngModelOptions]="{standalone: 'true'}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Registre el tipo usuario</ion-label>
            <ion-select placeholder="Selecciona tipo" formControlName="tipo_usuario">
              <ion-select-option value="administrador">Administrador</ion-select-option>
              <ion-select-option value="alumno">Alumno</ion-select-option>
            </ion-select>
          </ion-item>
          <br>
          <ion-button type="submit" [disabled]="!usuario.valid">REGISTRAR</ion-button>
          <ion-button color="secondary" (click)="actualizar()" [disabled]="!usuario.valid">ACTUALIZAR</ion-button>
          <ion-button expand="round" type="reset" color="terciary">LIMPIAR</ion-button>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-label>LISTA DE USUARIOS</ion-label>
    </ion-card-header>
  </ion-card>
  <div *ngIf="usuarios.length !=0; else elseBlock">
    <ion-card *ngFor="let u of usuarios" style="border-style: outset;">
      <ion-card-content>
        <ion-list>
          <p>Rut: {{u.rut}}</p>
          <p>Nombre: {{u.nombre}}</p>
          <p>Apellidos: {{u.apellidos}}</p>
          <p>Fecha de nacimiento: {{u.fecha_nac}}</p>
          <p>Sede: {{u.sede}}</p>
          <p>Carrera: {{u.carrera}}</p>
          <p>Licencia de conducir: {{u.licencia}}</p>
          <p>Correo: {{u.correo}}</p>
        </ion-list>
        <ion-button color="warning" (click)="buscar(u.id)">BUSCAR</ion-button>
        <ion-button color="danger" (click)="eliminar(u.id)">ELIMINAR</ion-button>
      </ion-card-content>
      <ion-card-header>
        <ion-label>{{u.tipo_usuario}}</ion-label>
      </ion-card-header>
    </ion-card>
  </div>
  <!-- ELSEBLOCK -->
  <ng-template #elseBlock>
    <ion-card style="border-style: outset;">
      <ion-card-content>
        <h1>No hay usuarios</h1>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>