<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      <a routerLink='/home'><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
 <!--  <img src="assets/icon/img/help.png" alt=""> ENVIAR AL FONDO-->
  <h3>¿Tienes problemas con la aplicación?</h3>
  <p>Si tuviste algún problema con algún conductor, al llevar a alguien a su destino, no te llegó un pago, no te pagaron la carrera
    realizada, o tuviste algún problema de índole sexual, puedes contactarte directamente a través de los siguientes contactos:
  </p>
  <p>+569 4649 3696</p>
  <p>tellevoapp@duocuc.cl</p>
  <p>Admisión (+56) 227 120 640</p>
  <p>Mesa de Servicios (+56) 44220 1098</p>
  <!-- <h2>Recuerda que TeLlevo? Es una app creada por y para alumnos</h2> -->
    </ion-card-content> 
  </ion-card>
  <img src="assets/icon/img/pnglogo.png" alt="img_logo" class="img_logo"/>
</ion-content>
