@use '../../../global.scss';

.fondo {
    height: 100vh;
    background-image: url("../../..//assets/icon/img/pnglogo.png");
    background-size: cover;
    text-align: center;
}
/* CUERPO  */
ion-content{
    --background: linear-gradient(#4c57d0, rgb(63, 141, 180), rgb(106, 147, 168));
    /* Este background incluye al MODAL en la alteración de color */
    ion-card {
        border-style: ridge;
        --background: linear-gradient(#4c57d0, rgb(63, 141, 180), rgb(106, 147, 168));
        margin: 0 auto;
        top: 5vh;
        height: auto;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .img_login {
            text-align: center;
            width: 80%;
        }
    
        ion-card-header {
            ion-card-subtitle {
                font-size: small;
                font-weight: bold;
                color: #f5c868;
            }

            ion-card-title {
                font-size: large;
                font-weight: bold;
                color: #fdad01;
            }
        }
    
        ion-item {
            --background: none;
    
            ion-label {
                font-size: large;
                font-weight: bold;
            }
        }
    
        /* FOOTER CARD */
        ion-card-footer{
            ion-card-subtitle {
                font-size: small;
                color: #000000;
                font-weight: bold;
            }
    
            p {
                font-size: small;
                color: #000000;
                font-weight: normal;
            }
        }
    
        p {
            text-decoration: none;
            font-size: large;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
        }
    }
}
/* MODAL */
ion-modal {
    /* color header modal */
    --ion-background-color: rgb(63, 141, 180);

    ion-title {
        font-weight: bolder;
        color: #ffffff;
    }

    p {
        text-decoration: none;
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
    }
  }


@media (max-width: 400px) {
    .fondo {
        ion-card {
            width: 80vw;
        }
    }
}
@media (max-width: 720px) {
    .fondo {
        ion-card {
            width: 80vw;
        }
    }
}