<div class="fondo">
    <ion-content>
      <ion-card>
        <img src="assets/icon/img/pnglogo.png" alt="img_logo" class="img_logo"/>
        <ion-card-header>
          <ion-card-subtitle >¿Preparado para viajar?</ion-card-subtitle>
          <ion-card-title>¡Ingresa a tu cuenta!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="user" (ngSubmit)="login()">
            <!-- INTERIOR DEL CARD -->
            <ion-item>
              <ion-label position="floating">Correo</ion-label>
              <ion-input formControlName="correo" placeholder="Ingrese correo" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="password" placeholder="Ingrese contraseña" type="password"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-checkbox color="warning" slot="start" [(ngModel)]="recordar_login" [ngModelOptions]="{standalone: 'true'}"></ion-checkbox>
              <ion-label style="font-weight: bold; font-size: small;">Recordar datos</ion-label>
            </ion-item>
            <br>
            <ion-button slot="start" type="submit" expand="block">Iniciar sesión</ion-button>
          </form>
          <div id="cardFooter">
            <p>¿Olvisdaste tu contraseña?</p>
            <ion-button slot="start" size="small" expand="round" routerLink="/recuperar">Recuperar contraseña</ion-button>
          <br>
          <ion-card-subtitle>¿Eres usuario nuevo?</ion-card-subtitle>
          <p>Ingresa tu cuenta de DuocUC y únete a la plataforma de viajes exclusiva de la institución.</p>
          <ion-button expand="block" routerLink="/registro">Registrar</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
<!-- FOOTER -->
<div class="footer">
  <ion-footer class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-button id="open-modal" expand="block">Términos de uso</ion-button>
    </ion-toolbar>
    <!-- MODAL TÉRMINOS DE USO -->
    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="volver()"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
            </ion-buttons>
            <ion-title>Términos</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>Bienvenido a las Condiciones y términos de Uso de "Te llevo?" App.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, necessitatibus corrupti dolorum porro quasi eveniet accusamus natus inventore minus ipsa nemo fugit asperiores. Aperiam natus, necessitatibus non dicta atque omnis, adipisci eveniet commodi explicabo nemo sapiente odio recusandae rerum molestias quas. Velit ut, provident praesentium inventore nostrum explicabo officiis eveniet nisi quis veritatis eaque aspernatur tenetur nobis odit impedit aliquid alias, minus sed aperiam culpa necessitatibus. Velit, suscipit obcaecati sint a quaerat harum? Accusantium, eligendi impedit corrupti maiores nemo eos sed natus quo. Assumenda sequi id dolores error quaerat. Dolor deserunt corrupti tempore aliquam ipsam neque sed blanditiis animi nobis!</p>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-footer>
</div>
  