<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <a routerLink='/home'><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="assets/icon/img/pnglogoPasj.png" alt="img_logo" class="img_logo"/>
  <ion-card>
    <ion-card-header>
      <ion-label>Viajes de {{user.nombre}}</ion-label>
    </ion-card-header>
    <ion-card-content *ngFor="let u of historial">
      <ion-item>
        <ion-label>Destino: {{u.lugar}}</ion-label>
      </ion-item>
      <ion-list>
        <h5>Información del viaje</h5>
        <p>Rut del conductor: {{u.rut}}</p>
        <p>Valor viaje: ${{u.valViaje}}</p>
      </ion-list>
    
    </ion-card-content>
  </ion-card>
  <img src="assets/icon/img/pnglogo.png" alt="img_logo" class="img_logo"/>
</ion-content>
