ion-content{
    --background: linear-gradient(#4c57d0, rgb(63, 141, 180), rgb(106, 147, 168));
    text-align: center;
    ion-card{
        border-style: ridge;
        border-color: black;
        ion-card-header{
            --background: #ffe95a;
            ion-label{
                font-size: large;
                color: #03153e;
                text-transform: uppercase;
                letter-spacing: 4px;
                text-decoration: none;
                font-size: 24px;
                overflow: hidden;
                transition: 0.2s;
                font-family: consolas;
            }
        }
        ion-card-content{
            .img_check {
                margin-top: 3%;
                text-align: center;
                width: 80%;
            }
            p{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: bold;
                color: rgb(0, 0, 0);
            }
        }
    }
    .img_logo {
        text-align: center;
        width: 50%;
    }
}

@media (max-width: 400px) {
    .fondo {
        ion-card {
            width: 80vw;
        }
    }
  }
  @media (max-width: 720px) {
    .fondo {
        ion-card {
            width: 80vw;
        }
    }
  }
  