<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <a routerLink='/home'><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content *ngFor="let u of historial">
      <ion-item>
        <ion-label>Destino: {{u.lugar}}</ion-label>
      </ion-item>
      <ion-label>Rut del conductor: {{u.rut}}</ion-label>
      <br>
      <ion-label>Valor viaje: ${{u.valViaje}}</ion-label>
      
    </ion-card-content>
  </ion-card>
  <img src="assets/icon/img/pnglogo.png" alt="img_logo" class="img_logo"/>
</ion-content>
